@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.fonts{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal; 
}
/* header nav */
.header{
     max-width: 1200px;
    height: 680px;
    margin: 0 auto;
    padding: 50px 120px;
    background-color: #dbdada;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.brand{
    color: rgba(58, 58, 58, 1);
    font-size: 1.3rem;
    font-weight: bold;

} 
.nav-links{
    margin-left: 20px;
    text-decoration: none;
    color: rgb(99, 93, 93);
    font-weight: 500;
    font-size: 17px;
}
/* header banner */
.banner{ 
    display: flex;
    gap: 120px;
}
.banner-text{
    margin-top: 40px;
}
.banner-text-1{
    font-weight: bold;
    font-size: 52px;
}
.banner-text-2{
    font-weight:500;
}
.nav-btn{
    background-color: #E02C6D;
    width: 196px;
    height: 44px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 10px;
}
.banner-img{
     background-image: url("../images/Circle\ design.svg");
     background-repeat: no-repeat;
     margin-top: 20px;
 
}
.camera{
    width: 440px;
     height: 410px;
}
.logo{
    margin-left: 60px;
    margin-top: 65px;
}

/* main */
.cart-section{
    height: 1660px;
    width: 800px;
    margin: 0 auto;
    padding: 50px 196px;
}

.container{
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 10px;
align-items: center;
justify-content: center;
}
.collection-name{
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}
.electronic{
    height: 400px;
    width: 330px;
    margin:20px;
}
.more{
    text-align: end;
    margin-top:50px;
    color: #E02C6D;
    font-weight: bold;
    font-size: 1.5rem;
}

