@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.fonts{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* header nav */
.header{
     max-width: 1200px;
    height: 700px;
    border: 2px solid steelblue;
    margin: 0 auto;
    padding: 100px 120px;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.brand{
    color: rgba(58, 58, 58, 1);
    font-size: 1rem;

} 
.nav-links{
    margin-left: 20px;
    text-decoration: none;
    color: rgb(99, 93, 93);
}
/* header banner */
.banner{ 
    display: flex;
    gap: 120px;
}
.banner-text{
    margin-top: 40px;
}
.banner-text-1{
    font-weight: bold;
    font-size: 52px;
}
.banner-text-2{
    font-weight:500;
}
.nav-btn{
    background-color: #E02C6D;
    width: 196px;
    height: 44px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 10px;
}
.banner-img{
     background-image: url("../images/Circle\ design.svg");
     background-repeat: no-repeat;
     margin-top: 20px;
 
}
.camera{
    width: 440px;
     height: 410px;
}
.logo{
    margin-left: 65px;
    margin-top: 65px;
}

